extends ../_extends/extends_html5.pug

block variables
  - var title = 'index'

block content 
  main#main.index-main
    aside.component-aisde
      ul.component-list
        li
          a(href="#") Popup
        li
          a(href="#") Accordion
    #container
      .container-inner

        .popup-group
            .ui-popup.ui-popup-full
              .popup-wrap
                .popup-container
                  .popup-header
                    h1.popup-title 팝업 타이틀
                  .popup-content
                    .popup-inner
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      | 1111111
                      br
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      | 2222
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      | 33333333
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      | 4444444444
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      | 5555555555555
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      | 666666666666666
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      | 77777777777
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      | 8888888888
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      | 9999999999
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      | 100000000000000
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      br
                      | 동해물과 백두산이
                      br
                      | 마르고 닳도록
                      br
                      | 하느님이 보우하사
                      br
                      | 우리나라만세
                      br
                      br
                      br
                  .popup-footer
                    .buttons-area

