
table.cl-table
  colgroup
    col(style="width: 3%")
    col(style="")
    col(style="")
    col(style="")
    col(style="")
    col(style="width: 3%")
    col(style="width: 5%")
    col(style="width: 5%")
    col(style="width: 10%")
    col(style="width: 4%")
    col(style="width: 3%")
    col(style="width: 40%")
  thead
    tr
      th No
      th Depth 1
      th Depth 2
      th Depth 3
      th Depth 4
      th 작업자
      th 시작일
      th 종료일
      th 페이지명
      th 스크립트
        br
        | Y/N
      th 진척도
      th 비고
  tfoot
  tbody
    tr
      td.tac 1
      td 메인
      td
      td
      td
      td.tac 김성철
      td.tac
      td.tac
      td
        a(href="/src/html/main/main.html") main.html
      td.tac
      td.tac
      td
    tr
      td.tac 2
      td 퀵링크
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 3
      td 이탈팝업
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 4
      td 관심고객등록
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 5
      td 일반상담
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 6
      td 일반상담 신청완료
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 7
      td 이벤트 리스트
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 8
      td 이벤트 상세페이지
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 9
      td 이벤트 신청완료
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 10
      td 패파소개
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td 지점 43개 하드코딩
    tr
      td.tac 11
      td
      td 계약
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 12
      td
      td 비용
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 13
      td
      td 공간/시설
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 14
      td
      td 서비스
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 15
      td 위치
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 16
      td 지점상세
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 17
      td 지점상세 미오픈
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 18
      td 지점상세 무료투어 예약완료
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 19
      td 지점상세 오픈특가 신청완료
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 20
      td 중개사 리드폼
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
    tr
      td.tac 21 
      td 비용상담
      td
      td
      td
      td.tac
      td.tac
      td.tac
      td
      td.tac
      td.tac
      td
