extends ./_extends/extends_html5.pug

block variables
  - var title = 'index'

block content 
  main#main.index-main
    aside.c-aside
      ul.c-list
        li
          a(href="#") Accordion 
    #container
      .container-inner

block script
  script.
