extends ./_extends/extends_html5.pug

block variables
  - var title = 'index'

block content 
  main#main.index-main
    #container
      .container-inner
        section.component-box
          .component-guide
            h3.title-h3 
              a(href="#") Popup 
            .text-area
              p.txt 설명1
              p.txt 설명2
              p.txt 설명3
          .component-info
            .ui-accordion-info.ui-accordion
              .accordion-title-info
                strong Popup
                i.ico(aria-hidden="true")
              .accordion-contents-info
                .accordion-contents-inner
                  p.txt 내용...123
        section.component-box
          .component-guide
            h3.title-h3
              a(href="#") PopupAlert 
            .text-area
              p.txt 설명1
              p.txt 설명2
              p.txt 설명3
          .component-info
            .ui-accordion-info.ui-accordion
              .accordion-title-info
                strong Popup
                i.ico(aria-hidden="true")
              .accordion-contents-info
                .accordion-contents-inner
                  p.txt 내용...123
        section.component-box
          .component-guide
            h3.title-h3
              a(href="#") Accordion
            .table-wrap
              table
                tbody
                  tr
                    th Properties
                  tr
                    td methods
                    td type
                    td caption

            .text-area
              p.txt 설명1
              p.txt 설명2
              p.txt 설명3
          .component-info
            .ui-accordion-info.ui-accordion
              .accordion-title-info
                strong 아코디언1
                i.ico(aria-hidden="true")
              .accordion-contents-info
                .accordion-contents-inner
                  p.txt 내용...123
      //- .popup-group
      //-   .popup-wrap
      //-     .ui-popup
