.table-container {
  overflow: hidden;
  // border:1px solid #000000;
}

.table-scroll-inner {
  width: 100%;
  overflow-y: auto;
}

.cl-header {
  padding: 1.6rem 2rem;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;

  h1 {
    font-size: 2.4rem;
    text-align: center;
  }
}

.cl-table {
  min-width: 1920px;
  width: 100%;
  font-size: 1.4rem;
  border-collapse: collapse;


  tr th {
    text-align: center;
    // background-color: lightblue;
  }

  tr {
    &:hover {
      background-color: lightgray;
    }
  }

  tr th,
  tr td {
    padding: .5rem 1rem;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;

    &:last-child {
      border-right: none;
    }
  }
}

.tac {
  text-align: center;
}