@charset 'utf-8';

@import '_settings';
@import 'reset';
@import 'prototype';
@import '_swiper.5.4.5';

$path: getPath();


#container {
  display: flex;
  height: 3000px; 
}

.none {
  display: none;
}

.skipnav {
  position: absolute;
  top: -4rem;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #6D757C;
  padding: 1rem;
  z-index: 1000;
  transform: top .3s;

  &:focus {
    top: 0;
  }
}


#header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 6rem;
  background-color: #e9e8e8;

  .header-inner {
    display: flex;
    height: 100%;
    padding: 0 4.8rem;
    justify-content: space-between;
  }

  .logo,
  .header-gnb {
    display: inline-flex;
    align-items: center;
  }

  .title-h1 {
    display: flex;
    margin-left: -1rem;
    align-items: center;

    a {
      display: flex;
      width: 4.5rem;
      height: 4.5rem;
      box-sizing: content-box;
      border-radius: 50%;
      background-color: #0095F8;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
    .text {
      font-size: 3.2rem;
    }

    .ver {
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 600;
    }
  }

  .menu-box {
    display: flex;
    align-items: center;

    .menu-list {
      display: inline-flex;
      padding: 0 2rem;

      a {
        position: relative;
        display: inline-flex;
        padding: 1rem 0;
        align-items: center;
        font-weight: 600;

        &::after {
          position: absolute;
          left: 0;
          bottom: 1rem;
          content: "";
          width: 100%;
          height: .2rem;
          background-color: #0095F8;
          transform: scaleX(0);
          transition: transform .4s cubic-bezier(0.22, 0.61, 0.35, 1), background-color 0.3s;
          transform-origin: 100% 0;
        }

        &:hover {
          &::after {
            transform: scaleX(1);
            transform-origin: 0 0;
          }
        }
      }

      &.on {
        height: 4rem;
        padding-right: 0;

        a {
          padding: 0 3.2rem;
          color: #ffffff;
          border-radius: 20rem;
          background-color: #ed6c71;
          transition: background-color .3s ease;

          &::after {
            display: none;
          }

          &:hover {
            background-color: #0095F8;
          }
        }

      }
    }
  }
}

<<<<<<< HEAD
#footer {
  background-color: #23282C;

  .footer-inner {
    // width: 129.6rem;
    // margin: 0 auto;
=======
//aside
.aside-menu {
  position: sticky;
  top: 6rem; left: 0;
  display: flex;
  max-width: 20rem;
  width: 100%;
  height: 100vh;
  padding: 2.5rem 2rem;

  .aside-inner {
  } 

  .menu-list {
    a {
      display: flex;
      padding: .5rem 1rem;
      font-size: 1.6rem;
    }
  }
}
>>>>>>> bc70412 (update)

    .contents {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      &.block {
        display: block;
      }

      &.top {
        border-bottom: 1px solid #2E3438;

        .contents-inner {
          padding: 1.6rem 0;
        }
      }

      .contents-inner {
        display: flex;
        justify-content: space-between;
        width: 129.6rem;
        margin: 0 auto;
      }

      &:nth-child(2) .contents-inner {
        display: flex;
        padding: 2.7rem 0 6.8rem;
      }
    }

    .footer-logo {
      display: inline-flex;
      margin-bottom: 0.8rem;

      img {
        width: 9.6em;
      }
    }

    .footer-content {
      display: inline-flex;

      .footer-content-list {
        display: inline-flex;
        align-items: center;

        a {
          display: inline-flex;
          align-items: center;
          padding: 1rem 2rem 1rem 0;
          color: #aaaaaa;
          font-weight: 600;

          &:hover {
            color: #ffffff;
          }

          &::before {
            display: inline-flex;
            content: "";
            width: 1px;
            height: 1.2rem;
            margin-right: 2rem;
            background: #40484F;
          }
        }

        &:first-child a::before {
          display: none;
        }
      }
    }

    .family-box-area {
      display: inline-flex;
      width: 24rem;

      .ui-select {
        position: relative;
        display: inline-flex;
        width: 100%;
        border: 1px solid #444444;
        border-radius: .8rem;
        background-color: #16191C;
        transition: border-color .3s ease;

        .btn-select {
          width: 100%;
          padding: .8rem 0 .8rem 2rem;
          color: #6D757C;
          font-weight: 600;
          text-align: left;
        }

        .select-area {
          .select-box {
            display: none;
            position: absolute;
            left: -1px;
            bottom: 4.2rem;
            width: 100%;
            height: 24rem;
            border: 1px solid #6D757C;
            border-bottom: 1px solid #40484F;
            border-radius: .8rem .8rem 0 0;
            background-color: #16191C;
            box-sizing: content-box;
            overflow-y: auto;

            .select-list {
              a {
                display: flex;
                padding: .8rem 2rem;
                color: #6D757C;
                font-weight: 600;

                &:hover {
                  color: #ffffff;
                }
              }
            }
          }

          &::after {
            position: absolute;
            top: 1.3rem;
            right: 2rem;
            display: flex;
            content: "";
            width: 1.6rem;
            height: 1.6rem;
            background: url(#{$path}/src/images/icons/ico_footer_arr.png) no-repeat 0 0;
            background-size: cover;
            transform: rotate(180deg);
          }
        }

        &.active {
          border: 1px solid #6D757C;
          border-radius: 0 0 .8rem .8rem;

          .select-area {
            .select-box {
              display: block;
            }

            &::after {
              transform: rotate(0);
            }
          }
        }
      }
    }

    .company-info {
      .contac {
        display: inline-flex;

        a {
          color: #6D757C;
          align-items: center;
        }
      }

      .mail {
        display: inline-flex;
        margin-left: 1.1rem;
      }
    }

    .address-1,
    .address-2 {
      margin-top: .6rem;

      ul {
        display: flex;

        li {
          display: inline-flex;
          padding-right: 1.2rem;
          color: #6D757C;
          align-items: center;

          &::before {
            display: inline-flex;
            content: "";
            width: 1px;
            height: 1.2rem;
            margin-right: 1rem;
            background: #40484F;
          }

          &:first-child {
            &::before {
              display: none;
            }
          }

          a {
            color: #6D757C;

            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }

    .social-area {
      display: flex;
      align-items: flex-end;

      ul {
        display: flex;
      }

      li {
        display: inline-flex;
        width: 2.8rem;
        height: 2.8rem;

        &+li {
          margin-left: 1.2rem;
        }

        a {
          display: inline-flex;
          width: 100%;
          height: 100%;

          &.ico-facebook {
            background: url(#{$path}/src/images/icons/ico_footer_facebook.png) no-repeat 0 0;
            background-size: cover;
          }

          &.ico-instagram {
            background: url(#{$path}/src/images/icons/ico_footer_instagram.png) no-repeat 0 0;
            background-size: cover;
          }

          &.ico-youtube {
            background: url(#{$path}/src/images/icons/ico_footer_youtube.png) no-repeat 0 0;
            background-size: cover;
          }

          &.ico-naver {
            background: url(#{$path}/src/images/icons/ico_footer_naver.png) no-repeat 0 0;
            background-size: cover;
          }

          &.ico-brunch {
            background: url(#{$path}/src/images/icons/ico_footer_brunch.png) no-repeat 0 0;
            background-size: cover;
          }
        }
      }
    }
  }
}


//Popup

.ui-popup {
  position: fixed;
  background-color: #fff;
<<<<<<< HEAD
<<<<<<< HEAD
  &.ui-popup-full {
    top: 0; left: 0; right: 0; bottom: 0;
  }
  .popup-wrap {
    overflow: hidden;
  }
  .popup-container {
    height: 100vh;
    overflow-y: auto;
=======
=======
>>>>>>> 2acad2a (...)
}

// .popup-wrap {
//   .popup-container {
//     overflow: hidden;
//   }

//   .popup-container {
//     height: 100vh;
//     overflow-y: auto;
//   }
// }
<<<<<<< HEAD
>>>>>>> bc70412 (update)
=======
=======
  &.ui-popup-full {
    top: 0; left: 0; right: 0; bottom: 0;
  }
  .popup-wrap {
    overflow: hidden;
  }
  .popup-container {
    height: 100vh;
    overflow-y: auto;
>>>>>>> 3f9750ff7604d2b1012120482d92bf3b4f3d8f19
>>>>>>> 2acad2a (...)

    .popup-content {


    }
  }
}