.prototype-container {
  padding: 3rem;
}
.subsrc {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 1.5rem 0;
  color: lightslategray;
}
// menu
.prototype-menu,
.prototype-list {
  border-bottom: 1px solid #000000;

  ul {
    display: flex;
    padding: 0 2rem;

    li {
      position: relative;
      padding: 1rem 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      a {
        padding: .5rem;
        border: 1px solid transparent;
        font-size: 1.4rem;
      }
      & + li {
        margin-left: 2rem;
      }
    }

    li.active {
      a {
        border: 1px solid #000000;
        border-radius: .5rem;
      }
    }
  }
}

.prototype-list {
  ul {
    padding: 0 3rem;    
  }
}


//타이틀
.title-h1 {
  font-size: 5rem;
  line-height: 140%;
  letter-spacing: -3%;
  font-weight: 700;
}

.title-h2 {
  font-size: 4rem;
  line-height: 140%;
  letter-spacing: -3%;
  font-weight: 700;
}

.title-h3 {
  font-size: 3.6rem;
  line-height: 140%;
  letter-spacing: -3%;
  font-weight: 700;
}

.title-h4 {
  font-size: 2.4rem;
  line-height: 140%;
  letter-spacing: -3%;
  font-weight: 600;
}

.title-h5 {
  font-size: 1.8rem;
  line-height: 100%;
  letter-spacing: -3%;
  font-weight: 600;
}

.title-h6 {
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: -3%;
  font-weight: 600;
}

pre {
  margin: 1.5rem 0;
  padding: 0 2rem;
  font-size: 1.6rem;
  background: #f0f0f0;

  code {
    
  }
}

//fonts 
.font-style-18,
.font-style-16,
.font-style-14 {
  font-family: 'Pretendard';
  font-weight: 400;
  letter-spacing: -3%;
  color: #444444;
}

.font-style-18 {font-size: 1.8rem; line-height: 170%;}
.font-style-16 {font-size: 1.6rem; line-height: 160%;}
.font-style-14 {font-size: 1.4rem; line-height: 140%;}

//buttons
.btn-area {
  .btn-52 {

  }
  .btn-52-white {
  
  }
}

