footer#footer
  .footer-inner
    section.contents.top
      .contents-inner
        ul.footer-content
          li.footer-content-list
            a.font-style-14(href="#") 회사소개
          li.footer-content-list
            a.font-style-14(href="#") 패스트파이브 소개서
          li.footer-content-list
            a.font-style-14(href="#") 채용
          li.footer-content-list
            a.font-style-14(href="#") 제휴 문의
          li.footer-content-list
            a.font-style-14(href="#") 광고/이벤트 문의
        .family-box-area
          .ui-select
            button.btn-select.font-style-14(type="button") 패밀리 사이트
            ul.select-box
              li.select-list.font-style-14
                a(href="#") 파이브스팟
              li.select-list.font-style-14
                a(href="#") 모버스 
              li.select-list.font-style-14
                a(href="#") 빌딩 솔루션
              li.select-list.font-style-14
                a(href="#") 거점오피스
              li.select-list.font-style-14
                a(href="#") 파이브클라우드 
              li.select-list.font-style-14
                a(href="#") 파이브애드
              li.select-list.font-style-14
                a(href="#") 패밀리 사이트
    section.contents.block
      .contents-inner
        .company-info
          .footer-logo
            img(src="/src/images/icons/logo_gray.png", alt="FASTFIVE LOGO")
          .contac
            a.tel.font-style-16.bold(href="tel:1833-5550") 
              span.font-style-16 전화상담
              | 1833-5550
            a.mail.font-style-16(href="mailto:contact@fastfive.co.kr") contact@fastfive.co.kr
        .address-1
          ul
            li.font-style-12 월~목요일 9:30 ~ 18:00
            li.font-style-12 금요일 9:30 ~ 17:00
            li.font-style-12 점심시간 12:00 ~ 13:00
            li.font-style-12
              a(href="#") 카카오톡 @FASTFIVE 
        .address-2 
          ul
            li.font-style-12 
              a(href="mailto:pr@fastfive.co.kr") PR : pr@fastfive.co.kr
            li.font-style-12
              a(href="mailto:realestate@fastfive.co.kr") 부동산 : realestate@fastfive.co.kr 
            li.font-style-12 패스트파이브(주)
            li.font-style-12 대표 : 김대일
            li.font-style-12 사업자등록번호 : 151-81-00025
            li.font-style-12 개인정보 취급 방침
        .social-area
          ul
            li
              a.ico-facebook(href="#")
            li
              a.ico-instagram(href="#") 
            li
              a.ico-youtube(href="#") 
            li
              a.ico-naver(href="#") 
            li
              a.ico-branch(href="#") 


      
  
