header#header
  .header-inner
    .logo
      h1.title-h1
        a(href="#") 
          img(src="", alt="")
    gnb.header-gnb
      button.button-gnb(type="button")
      ul.menu-box
        li.menu-list
          a.font-style-18(href="#") Documentation
        li.menu-list
          a.font-style-18(href="#") blog
        li.menu-list
          a.font-style-18(href="#") Github
        li.menu-list.on
          a.font-style-18(href="#") Project