header#header
  .header-inner
    .logo
      h1.title-h1
        a(href="#") 
          img(src=`${path}/src/images/icons/logo_black.png`, alt="FASTFIVE LOGO")
    gnb.header-gnb
      button.button-gnb(type="button")
      ul.menu-box
        li.menu-list
          a.font-style-18(href="#") N월 이벤트
        li.menu-list
          a.font-style-18(href="#") 지점 위치
        li.menu-list
          a.font-style-18(href="#") 패파 소개
        li.menu-list.on
          a.font-style-18(href="#") 비용 문의