aside.quick-menu
  .aside-inner
    ul.aside-menu
      li.menu-list.active
        a(href="#")
          i.ico(aria-hidden="true")
          p.font-style-18 무료 견적
      li.menu-list
        a(href="#")
          i.ico(aria-hidden="true")
          p.font-style-18 상담 신청
      li.menu-list
        a(href="tel:1833-5550")
          i.ico(aria-hidden="true")
          p.font-style-18 1833-5550
    .btn-area
      button.btn-top(type="button")
